*{
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
}

.container{
    background-color: #03405a;
    height: 100vh;
}
.container .title{
    text-align: center;
    color: #fff;
    padding-top: 5%;
}
.title h2{
    font-size: 45px;
}
.title p{
    font-size: 30px;
    margin: 15px 0;
}
.display {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.displayerwinner{
    display: none;
}
.table{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;
}
.tile{
    border: 1px solid #fff;
    min-height: 100px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 50px;
    
}
.playerX{
    color: #09d372;
}
.playerO{
    color: #498afb;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.hide{
    display: none;
}
.displaywinner {
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}
.restart {
    background-color: #498AFB;
}

#reset{
    padding: 10px 15px;
    border: none;
    background-color: #ff3860;
    outline: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    transition: .4s;
    cursor: pointer;
    font-weight: 500;
}
#reset:hover{
    background-color: #fff;
    color: #ff3860;
}